    {% include "header.html" %}
    <style>
        .banniere{
            background-image: url('https://img.freepik.com/photos-gratuite/groupe-cinq-etudiants-africains-passant-du-temps-ensemble-campus-cour-universite-amis-afro-noirs-etudiant-theme-education_627829-6007.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            height: 100vh;
            color: orange;
            font-weight: bolder;
        }
        .text-baniere{
          position: relative;
          top: 250px;
        }
        .gr-etic{
          color: green !important;
        }
    </style>
    <div class="container-fluid banniere">
        <h1 class="visually-hidden">Heroes examples</h1>
        <div class="px-4 py-5 my-5 text-center text-baniere">
          <h1 class="display-5 fw-bold text-body-emphasis gr-etic">GROUPE ETIC</h1>
          <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div>
          </div>
        </div>
      
    </div>
    {% include "footer.html" %}
    