
{% include "header.html" %}
<style>
    .resutat{
        height: 500px;
        background-color: gainsboro;
        background-repeat: no-repeat;
        padding-top: 100px;
    }
    .card{
        padding-top: 50px;
    }
</style>
<div class="resutat">
    <center>
       <div class="card" style="width: 800px; height: 300px;">
            <div class="title fs-3">Felicitation</div>
            <div class="card-body text-center">
                <p fs-1>Gbamele NGoran Alexandre</p>
                <p>
                    Vous etes Admissible au BTS session 2023 !
                </p>
            </div>
       </div>
    </div>
</center>
</div>

{% include "footer.html" %}