
{% include "header.html" %}
<style>
    .resutat{
        height: 500px;
        background-color: gainsboro;
        background-repeat: no-repeat;
    }
</style>
<div class="resutat">
    <center>
        <div class="container justify-content-content" style="width: 800px; padding-top: 150px;);">
        <form method="post">
            <div class="fs-1">Saisissez votre numero matricule</div>
            <div class="flex">
              <input type="text" class="form-control mt-3 text-center" name="matricule" placeholder="Exp: 12000047L"/>
              <input type="submit" name="" id="" class="btn btn-success mt-2" style="width: 150px;">
            </div>
          </form>
      
    </div>
</center>
</div>

{% include "footer.html" %}