
{% include 'header.html' %}
  <div class="row gap-1 mt-5">
    <div class="col-1">
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/photos-gratuite/codeur_1098-18084.jpg?w=1060&t=st=1695167927~exp=1695168527~hmac=0e053024e1a2e614da2223cdb1bd020aaa37878c72cf8e1b03655a539f8867e6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
      <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/photos-gratuite/employe-bureau-analysant-graphiques-commerciaux-ordinateur-documents-examinant-donnees-recherche-ligne-pour-creer-presentation-travailler-informations-rapport-statistiques-pc_482257-51736.jpg?w=1060&t=st=1695167619~exp=1695168219~hmac=59633fa56e24de71d9ecc9e28ebc5b498b5497d4caad1809f98eacf01c2cd1ba.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      </div>

      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="https://img.freepik.com/vecteurs-libre/concept-transformation-numerique-vecteur-fond-puce-technologie-ia_53876-117808.jpg?w=1060&t=st=1695167752~exp=1695168352~hmac=dbdd43c2deb7cccaebe912d5dcc6f6918fd596088e737846747cf4820125e38f.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      
      <div class="col-1">
      </div>
  </div>
  <div class="row gap-1 mt-5">
    <div class="col-1">
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/photos-gratuite/codeur_1098-18084.jpg?w=1060&t=st=1695167927~exp=1695168527~hmac=0e053024e1a2e614da2223cdb1bd020aaa37878c72cf8e1b03655a539f8867e6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
      <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/photos-gratuite/employe-bureau-analysant-graphiques-commerciaux-ordinateur-documents-examinant-donnees-recherche-ligne-pour-creer-presentation-travailler-informations-rapport-statistiques-pc_482257-51736.jpg?w=1060&t=st=1695167619~exp=1695168219~hmac=59633fa56e24de71d9ecc9e28ebc5b498b5497d4caad1809f98eacf01c2cd1ba.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      </div>

      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img src="https://img.freepik.com/vecteurs-libre/concept-transformation-numerique-vecteur-fond-puce-technologie-ia_53876-117808.jpg?w=1060&t=st=1695167752~exp=1695168352~hmac=dbdd43c2deb7cccaebe912d5dcc6f6918fd596088e737846747cf4820125e38f.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      
      <div class="col-1">
      </div>
  </div>
  {% include 'footer.html' %}
 